*{
    margin: 0;
    padding: 0;
  }
  
label, span, .title{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
  
#top{
    float: right;
    position: fixed;
    margin-left: 80%;
    z-index: 1;
    background-color:#f32121;
    width: 25%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0px 0px 0px 10px;
    height:40px;
}
  
#user{
    color: white;
    background-color: #f32121;
    height: 100px;
    width: 30%;
    max-width: 300px;
    border-radius: 0px 5px 5px 0px;
}

#TextUser a {
    transition: 0.2s;
    text-decoration: none;
    color: white;
    font-size: x-large;
}

#TextUser a:hover{
    transition: 0.2s;
    font-size: xx-large;
}
  
#TextUser{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    position: relative;
    top:25px; 
}
  
#title{
    text-align: center;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(255, 255, 255);
    align-content: center;
}
  
#dashboard .divs{
    margin-top: 3%;
    background-color: rgb(250, 249,248);
}
  
   
#EmployerDetails input{
    width: 49%;
    padding: 15px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    outline:none;
}

#EmployerDetails div{
    margin-left: 2%;
}
  
#EmployerDetails .name{
    height: 20%;
}

#EmployerDetails .otherDetails{
    height: 20%;
}

  
#EmployerDetails .address{
    height: 20%;
}

#EmployerDetails .userAccount{
    height: 20%;
}
  
#EmployerDetails button{
    text-align: center;
    display: inline-block;
    background-color: #2196F3;
    padding: 1% 2%;
    color: white;
    border: 0;
    margin: 3% 2% 4.5%;
    cursor: pointer;
    width: 10%;
    border-radius: 5px;
}

#createJobListing button{
    text-align: center;
    display: inline-block;
    background-color: #f32121;
    padding: 1% 2%;
    color: white;
    border: 0;
    margin: 3% 2% 4.5%;
    cursor: pointer;
    width: 10%;
    border-radius: 5px;
}
a{
    color:inherit;
    text-decoration: none;
}