*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#top{
    float: right;
    position: absolute;
    margin-left: 80%;
    z-index: 1;
    background-color:#2195f3;
    width: 25%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0px 0px 0px 10px;
    height:40px;
}

#user{
    color: white;
    background-color: #2195f3;
    height: 100px;
    width: 30%;
    max-width: 300px;
    border-radius: 0px 5px 5px 0px;
}

#TextUser a {
    transition: 0.2s;
    text-decoration: none;
    color: white;
    font-size: x-large;
}

#TextUser a:hover{
    transition: 0.2s;
    font-size: xx-large;
}
  
#TextUser{
    text-align: center;
    position: relative;
    top:25px; 
}
#title {
    text-align: center;
    font-size: large;
    color: white;
    align-content: center;
}
#background{
    padding: 2.5%;
    margin-top:5%;
    background-color: rgb(250, 249, 248);
    position:relative;
    width: 60%;
    height:fit-content;
    min-height: 200px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    display:block;
}

#userMessage{
    font-size: x-large;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    position:relative;
    min-height: 30px;
}

#userEmail input{
    font-size: large;
    display: block;
    width: 70%;
    position:relative;
    min-height: 30px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    outline: none;
    border: none;
    padding:0.5%;
}

#buttons {
    width: 70%;
    margin-left: auto;
    margin-right: auto;

}
#buttons button{
    cursor: pointer;
    transition: 0.2s;
    float: left;
    width:20%;
    min-height: 40px;
    margin-top: 2%;
    margin-right: 3%;
    border-radius: 5px;
    background-color: #2195f3;
    color: white;
    border:none;
}

#buttons button:hover {
    transition: 0.2s;
    background-color: #0d8df5;
    width: 21%;
}

#buttons button:active {
    transition: 0.2s;
    background-color: #eee;
    padding: 0;
}