*{
  margin:0;
  padding:0;
}
#top{
  margin-left: 20%;
  margin-right: 20%;
  z-index: 1;
  width: 60%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0px 0px 0px 10px;
  height:40px;
}

#TextUser{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  position: relative;
  top:25px; 
}

#title{
  text-align: center;
  font-size: large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:rgb(255, 255, 255);
  align-content: center;
}

#loginform{
  background-color: rgb(250, 249, 248);
  margin-top: 10%;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

input[type=text], input[type=password] {
  width: 92%;
  padding: 15px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius:40px;
  outline:none;
}
  
button {
  background-color: #2196F3;
  padding: 14px 20px;
  color: white;
  border:0;
  margin: 8px 0;
  cursor: pointer;
  width: 20%;
  border-radius:40px;
}

button:hover {
  opacity: 0.6;
}

.cancelbtn {
  width: 20%;
  padding: 14px 18px;
  background-color: #f44336;
}
.container {
  padding: 20px;
}

span.psw {
  float: right;
  padding-top: 16px;
}