*{
  margin: 0;
  padding: 0;
}
#top{
  float: right;
  position: fixed;
  margin-left: 80%;
  z-index: 1;
  background-color: #2195f3;
  width: 25%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0px 0px 0px 10px;
  height:40px;
}

#user{
  color: white;
  background-color: #2196F3;
  height: 100px;
  width: 30%;
  max-width: 300px;
  border-radius: 0px 5px 5px 0px;
}

#TextUser{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  position: relative;
  top:25px; 
}

#title{
  text-align: center;
  font-size: large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:rgb(255, 255, 255);
  align-content: center;
}

form{
  float: left;
  background-color: rgb(250, 249, 248);
  margin-top: 5%;
  width: 70%;
  height: 60%;
}

img{
  width: 10%;
  display: grid;
}

#userinput{
  position: absolute;
  width: 20%;
}

input[type=text], input[type=password] {
  width: 40%;
  padding: 15px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline:none;
}

#button-list {
  background-color: #eee;
  margin-top: 5%;
  width: 30%;
  height: 60%;
  float: right;
}

#button-list button {
  text-align: center;
  display: flow-root;
  background-color: #2196F3;
  padding: 14px 20px;
  color: white;
  border: 0;
  margin: 3% 2% 5%;
  cursor: pointer;
  width: 50%;
  border-radius: 5px;
}

#button-list button:hover {
  background-color: #389ff4;
}