*{
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
}

#top{
    float: right;
    position: fixed;
    margin-left: 80%;
    z-index: 1;
    background-color: #2195f3;
    width: 25%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0px 0px 0px 10px;
    height:40px;

    /*
    padding: 10px;
    position: absolute;
    margin-left: 80%;
    */
}

#user{
    color: white;
    background-color: #2196F3;
    height: 100px;
    width: 30%;
    max-width: 300px;
    border-radius: 0px 5px 5px 0px;
    
    /*
    border: 5px;
    border-style: solid;
    border-color: black;
    */

    /* Owen: Code i have taken out or changed
    padding: 5px;
    
    text-align: center;
    margin-top: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    */

}
#TextUser{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    position: relative;
    top:25px; 
}

#user img{
    width: 5%;
    position: relative;
    right:3%;
    
}

#title{
    text-align: center;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(255, 255, 255);
    align-content: center;
}

#searchBox{
    position: sticky;
    top: 0px;
    height: 100px;
    margin-top: 5%;
    width: 74.41%;
    height: 70px;
    background-color: rgb(250, 249, 248);
    text-align: center;
    /*
    border: 5px;
    border-style: solid;
    border-color: black;*/
}
#searchBox .where{
    background-color: rgb(250, 249, 248);
    text-align: center;
    width: 45%;
    height: 70px;
    position:relative;
    float:right;
}

#searchBox .where img{
    width: 5%;
}

#searchBox .search{
    background-color: rgb(250, 249, 248);
    text-align: center;
    width: 50%;
    height: 70px;
    position:relative;
    float:left;  
}

#searchBox .where input[type=text] {
    margin-right: auto;
    margin-left: auto;
    margin-top:2%;
    padding: 6px;
    width: 75%;
    border: 5px solid;
    border-color: rgb(219, 216, 216);
    border-radius: 5px;
    font-size: 17px;
    float: left;
}

#searchBox .search input[type=text] {
    margin-right: auto;
    margin-left: auto;
    margin-top:2%;
    padding: 6px;
    width: 75%;
    border: 5px solid;
    border-color: rgb(219, 216, 216);
    border-radius: 5px;
    font-size: 17px;
    float: right;
}


#filters{
    background-color: rgb(230, 230, 230);
    float: right;
    margin-top: 5%;
    text-align: center;
    width: 25%;
    height: 810px;
    padding: 5px;
    /*
    border: 5px;
    border-style: solid;
    border-color: black;*/
}

#filters input[type='radio'] {
    display: none;
}

#filterOption{
    margin-top: 5%;
    background-color: #eee;
    position: relative;
    border-radius: 5px ;
    height: 4.4%;
    
    /*
    border: 1px solid;
    border: 2px solid;
    border-color: white;
    color: white;
    */
}

#filter p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#job-list{
    background-color: rgb(250, 249, 248);
    text-align: center;
    width: 73.67%;
    height: 700px;
    padding: 5px;
    /*border: 5px;
    border-style: solid;
    border-color: black;*/
}

#job{
    transition: 0.3s;
    margin-top: 10px;
    background-color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 22%;
    border-radius: 5px;
    overflow: hidden;
}

#job:hover{
    cursor: pointer;
    transition: 0.3s;
    background-color: rgb(230, 230, 230);
    padding-right: 10px;
    padding-left: 10px;
}

#job img{
    float: left;
    padding: 1%;
    width: 15%;
}

#job .company-info {
    float: left;
    padding: 1%;
    width: 20%;
    justify-content: center;
    border: 5px;
    border-style: solid;
    border-color: black;
}

#job .info {
    float: left;
    padding: 1%;
    width: 25%;
    border: 5px;
    border-style: solid;
    border-color: red;

}

#job .options {
    float: left;
    padding: 1%;
    width: 10%;
    border: 5px;
    border-style: solid;
    border-color: blue;
}

.container {
    width: 30%;
    display: inline-block;
    cursor: pointer;
}

/* Hide the browser's default radio button */
.container input {
    float:left;
    display: none;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    transition: 0.2s;
    font-size: small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    float: left;
    left: 0;
    padding-top: 8.5%;
    padding-bottom: 8.5%;
    width: 100%;
    background-color: #eee;
    border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    transition: 0.2s;
    background-color: rgb(219, 216, 216);
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    transition: 0.2s;
    color: white;
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    position: absolute;
    display: none;
}

.title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

