body {
    margin: 0;
}

#top{
    background-color: rgba(142, 2, 2, 0.7);
    margin-left: 80%;
    width: 20%;
    padding: 10px;
    border-radius: 0px 0px 0px 10px;
}

#user{
    float: left;
}

#title{
    text-align: center;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(255, 255, 255);
    align-content: center;
}

#search{
    text-align: center;
    margin-top: 5%;
    width: 80%;
    height: 100px;
    border: 5px;
    border-style: solid;
    border-color: black;
}

#filters{
    float: right;
    margin-top: 5%;
    text-align: center;
    width: 19%;
    height: 810px;
    border: 5px;
    border-style: solid;
    border-color: black;
}

#jobs{
    text-align: center;
    width: 80%;
    height: 700px;
    border: 5px;
    border-style: solid;
    border-color: black;
}

#job{
    background-color: rgb(242, 241, 241);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 150px;
    border-radius: 5px;
}

#search input[type=text] {
    margin-right: auto;
    margin-left: auto;
    padding: 6px;
    width: 50%;
    border: solid;
    border-color: black;
    border-radius: 5px;
    font-size: 17px;
  }