body {
    margin: 0;
}

#top{
    margin-left: 80%;
    background-color: rgba(142, 2, 2, 0.7);
    width: 20%;
    padding: 10px;
    border-radius: 0px 0px 0px 10px;
}

#user{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    background-color: rgba(142, 2, 2, 0.7);
    margin-top: 0;
    text-align: center;
    border-radius: 0px 5px 5px 0px;
    height: 80px;
    width: 30%;
    padding: 5px;
    /*
    border: 5px;
    border-style: solid;
    border-color: black;*/
}

#title{
    text-align: center;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(255, 255, 255);
    align-content: center;
}

#search{
    
    background-color: rgb(250, 249, 248);
    text-align: center;
    margin-top: 5%;
    width: 80%;
    height: 100px;
    padding: 5px;
    /*
    border: 5px;
    border-style: solid;
    border-color: black;*/
}

#filters{
    background-color: rgb(230, 230, 230);
    float: right;
    margin-top: 5%;
    text-align: center;
    width: 19%;
    height: 810px;
    padding: 5px;
    /*
    border: 5px;
    border-style: solid;
    border-color: black;*/
}

#jobs{
    background-color: rgb(250, 249, 248);
    text-align: center;
    width: 80%;
    height: 700px;
    padding: 5px;
    /*border: 5px;
    border-style: solid;
    border-color: black;*/
}

#job{
    background-color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 150px;
    border-radius: 5px;
}

#search input[type=text] {
    margin-right: auto;
    margin-left: auto;
    padding: 6px;
    width: 50%;
    border: solid;
    border-color: black;
    border-radius: 5px;
    font-size: 17px;
}

.container {
    width: 80px;
    height: auto;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    font-size: small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    position: absolute;
    left: 0;
    padding: 4px;
    width: 85px;
    background-color: #eee;
    border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

#filterHourB{
    background-color: rgba(198, 16, 16, 0.7);
    height: 50px;
    /*
    border: 2px solid;
    border-color: white;
    color: white;
    */
}


#filter p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}