<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/script.js"></script>
    <title>Jobs"R"us</title>
</head>
<body>
    <div id="top">
        <p id="title"> Welcome to Jobs"R"us </p> 
    </div>
    <div id="user">
        <div id = "TextUser">
        <p>Good evening [User]</p>
        <p class="location"><img src="../static/icons/location-icon.png" onclick="getLocation()"></p>
    </div>
    </div>

    
</body>
</html>