<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/forgotPassword.css">
    <title>Forgot Password page</title>
</head>
<body>
    <div id="top">
        <p id="title">Welcome to Jobs"R"us</p> 
    </div>

    <div id="user">
        <div id = "TextUser">
                <p id="forgotP">Forgot Password</p>
            </a>
        </div>
    </div>

    <div id="background">
        <div id = "userMessage">
            <p>Enter your associated email to reset password</p>
        </div>
        <div id = "userEmail">
            <input type = "text" placeholder="Enter email address">
        </div>
        <div id="buttons">
            <button id="reset">Reset Password</button>
            <a href='/login'><button>Login</button></a>
        </div>
    </div>
    
    
</body>
</html>