<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/script.js"></script>
    <title>Jobs"R"us</title>
</head>
<body>
    <div id="top">
        <p id="title"> Welcome to Jobs"R"us </p> 
    </div>
    <div id="user">
        <p>Good evening [User] </p>
    </div>

    <div id="filters">
        <p class="title"> Filters </p>
        <p>Job type</p>
        <div id="filterHourB">
             
            <label class="container">
                <input type="radio" checked="checked" name="jobType">
                <span class="checkmark">Full-time</span>
            </label>
            <label class="container">
                <input type="radio" name="jobType">
                <span class="checkmark">Part-time</span>
            </label>
            <label class="container">
                <input type="radio" name="jobType">
                <span class="checkmark">Both</span>
            </label>

        </div>
        <br>
        <br>
        <p>Distance</p>
        <div id="filterHourB">

            <label class="container">
                <input type="radio" checked="checked" name="jobDistance">
                <span class="checkmark">5 miles</span>
            </label>
            <label class="container">
                <input type="radio" name="jobDistance">
                <span class="checkmark">10 miles</span>
            </label>
            <label class="container">
                <input type="radio" name="jobDistance">
                <span class="checkmark">20 miles</span>
            </label>
            <label class="container">
                <input type="radio" name="jobDistance">
                <span class="checkmark">Further!</span>
            </label>
        </div>

    </div>

    <div id="search">
        <p>This could be a search box?</p>
        <input type="text" placeholder="Search jobs!">
    </div>

    <div id="jobs">
        <p>Jobs will be displayed here</p>

        <div id="job">
            This is a job box
        </div>
        <br>
        <div id="job">
            This is a job box
        </div>
        <br>
        <div id="job">
            This is a job box
        </div>
    </div>
    
    
</body>
</html>