<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/script.js"></script>
    <title>Document</title>
</head>
<body>
    <input onclick="change()" type="button" value="Open Curtain" id="myButton1"></input>

    <p id = "Hello"> Welcome </p>
    
    
</body>
</html>