<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/jobcreation.css">
    <script src="../static/js/jobcreation.js"></script>
    <title>Create job listing</title>
</head>
<body >
    <div id="top">
        <p class="title" id="top-title">Create Job Listing</p> 
    </div>

    <div id = "createjoblistingform">
        <div class="container">
            <div id="jobName">
                <input type="text" placeholder="Job Name" id="jName" required>
            </div>

            <div id="cTypeandStartdate">
                <input type="text" placeholder="Contract type | Full-time, Part-time, Other" id="contractType" required>
                <input title="Start date" type="date" placeholder="Start date" id="sDate" required>
            </div>

            <div id="salandloc">
                <input type="number" placeholder="Anual Salary | 5000 " id="salary" required>
                <input type="text" placeholder="Postcode" id="loc" required>
            </div>

            <div id="jDesc">
                <textarea type="text" placeholder="Job Description" id="jDescription" required></textarea>
            </div>

            <div id="cUS">
                <input type="text" placeholder="Phone number or Email" id="contactUs" required>
            </div>

            <div class="form-buttons">
                <button onclick= "createdJobListing()" id="lower-button">Create job listing</button>
            </div>
        </div>
    </div>

</body>
</html>