<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/loginpage.css">
    <script src="../static/js/loginpage.js"></script>
    <title>Login Page</title>
</head>
<body onload="pageStart()">
    <div id="top">
        <p class="title" id="title">Student login - Jobs"R"us</p> 
    </div>

    <div id = "loginform">
      <div class="user-option">
        <label class="container">
            <input type="radio" checked="checked" name="jobType"  id="student" onclick="studentMode()">
            <span class="checkmark">Student</span>
        </label>
        <label class="container">
            <input type="radio" name="jobType" id="company" onclick="companyMode()">
            <span class="checkmark">Company</span>
        </label>
      </div>
        <div class="container">
          <label for="uname" class="cred"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="uname" id="username">
      
          <label for="psw" class="cred"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" id="password" onkeydown = "if (event.keyCode == 13) document.getElementById('loginButton').click()" >
      
          <button type="submit" id="loginButton" onclick="login()">Login</button>
          <button class="signup" id="signButton" onclick="window.location.href='/signup';">Sign up</button>
          <label class="remember">
            <input type="checkbox" checked="unchecked" name="remember"> Remember me
          </label>
          <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
      </div>
</body>
</html>