<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/signuppage.css">
    <script src="../static/js/signuppage.js"></script>
    <title>Create account</title>
</head>
<body>
    <div id="top">
        <p class="title">Create student account</p> 
    </div>

    <form id = "signup-form" method="post">

        <div class="container">
            <div class="name">
                <input type="text" placeholder="First Name" name="Fname" required>
                <input type="text" placeholder="Second Name" name="Sname" required>
            </div>

            <div class="dob">
                <label for="DOB"><b>Date of birth:</b></label>
                <input type="date" name="DOB" required>
            </div>
            
            <div class="address">
                <input type="text" placeholder="Address Line 1" name="AD1" required>
                <input type="text" placeholder="Address Line 2" name="AD2">
                <input type="text" placeholder="Address Line 3" name="AD3">
                <input type="text" placeholder="Postcode" name="Post" required>
            </div>

            <div class="cred">
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" required>
                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>
                <label for="psw"><b>Confirm password</b></label>
                <input type="password" placeholder="Confirm Password" name="psw" required>
            </div>

            <div class="form-buttons">
                <button type="submit">Create</button>
            </div>
        </div>
    </form>

</body>
</html>