<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/signuppage.css">
    <script src="../static/js/signuppage.js"></script>
    <title>Student Sign up page</title>
</head>
<body>
    <div id="top">
        <p id="title"> Welcome to Jobs"R"us </p> 
    </div>

    <div id="user">
        <div id = "TextUser">
        <p>Student Sign up page</p>
    </div>
    </div>

    <form id = "loginform" method="post">
        <div class="container">


          <label for="Fname"><b>First Name</b></label>
          <input type="text" placeholder="Enter your First Name" name="Fname" required>
          <label for="Sname"><b>Second Name</b></label>
          <input type="text" placeholder="Enter your Second Name" name="Sname" required>
          <label for="DOB"><b>Date of birth</b></label>
          <input type="text" placeholder="Enter your date of birth" name="DOB" required>
          
          
          <label for="AD1"><b> Address 1</b></label>
          <input type="text" placeholder="Enter your Address 1" name="AD1" required>
          <label for="AD2"><b> Address 2</b></label>
          <input type="text" placeholder="Enter your Address 2" name="AD2">
          <label for="AD3"><b> Address 3</b></label>
          <input type="text" placeholder="Enter your Address 3" name="AD3">
          <label for="Post"><b> Postcode</b></label>
          <input type="text" placeholder="Enter your Postcode" name="Post" required>

          <label for="uname"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="uname" required>
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>
          <label for="psw"><b>Confirm password</b></label>
          <input type="password" placeholder="Confirm Password" name="psw" required>
      
          <button type="submit">Confirm</button>
          <button type="loginpage" class="loginpage">Login in</button>
          <button type="button" class="cancelbtn">Cancel</button>
      </form>

</body>
</html>