<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/student_style.css">
    <script src="../static/js/student_script.js"></script>
    <title>Student Page</title>
</head>
<body>
    <div id="top">
        <p id="title"> Welcome to Jobs"R"us </p> 
    </div>

    <div id="user">
        <div id = "TextUser">
        <p>Good evening [User]</p>
    </div>
    </div>
    <form id = "StudentDashboard">
        <img src="../static/icons/job-icon.png">
        <div class = "userinput">
            <div class="name">
                <input type="text" placeholder="First Name" name="Fname">
                <input type="text" placeholder="Second Name" name="Sname">
            </div>

            <div class="dob">
            <input type="date" placeholder="Date of Birth" name="DOB">
            </div>

            <div class="address">
                <input type="text" placeholder="Address Line 1" name="AD1">
                <input type="text" placeholder="Address Line 2" name="AD2">
                <input type="text" placeholder="Address Line 3" name="AD3">
                <input type="text" placeholder="Postcode" name="Post">
            </div>
        </div>
    </form>

    <div id="button-list">
        <button type="button">Track application</button>
        <button type="button" class="Upload CV">Upload CV</button>
        <button type="button" class="Applied for">Applied for</button>
        <button type="button" class="Under review">Under review</button>
        <button type="button" class="Come to decision">Came to decsion</button>
    </div>
    
</body>
</html>