<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/student_style.css">
    <script src="../static/js/student_script.js"></script>
    <title>Student Page</title>
</head>
<body>
    <div id="top">
        <p id="title"> Welcome to Jobs"R"us </p> 
    </div>

    <div id="user">
        <div id = "TextUser">
        <p>Good evening [User]</p>
    </div>
    </div>

    
</body>
</html>